body {
    background-color:  #05090e;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .App{
    font-family: 'Roboto Mono', monospace;
  }
  
  button{
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 5%;  /* Position the content to the left */
    transform: translateY(-50%);  /* Center vertically */
    z-index: 2;
    text-align: left;  /* Align text to the left */
  }
  
  .content h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .content button {
    background-color: #6200ea;
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .content button:hover {
    background-color: #3700b3;
  }

  .fullscreen-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.fullscreen-video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content {
    display: none;
}

.row {
  padding-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  gap: 20px;
}

.gallery-item {
  display: flex;
  justify-content: center; /* Center the video horizontally */
  align-items: center; /* Center the video vertically */
  flex-direction: column; /* Align items vertically */
  flex: 1;
  max-width: calc(50% - 10px); /* Two items per row */
  width: 100%; /* Ensures the item takes full width of its container */
  height: 500px; /* Set a fixed height for the gallery items */
  overflow: hidden; /* Hide overflow content to prevent distortion */
  position: relative; /* Position elements inside relative to this container */
  background-position: center; /* Center the background image */
  background-size: cover;
  /* background-size: auto 100%;  */
  /* transition: background-size 0.3s ease; */
}


