.container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjusted property */
  width: 80%;
}

header {
  background: #05090e;
  color: #fff;
  padding: 1rem 0; /* Reduced padding for a thinner header */
}

header h3 {
  margin: 0; /* Remove margin around heading */
  padding: 0; /* Remove padding around heading */
  line-height: 1; /* Ensures the height is minimal */
  margin-right: 2rem; /* Space between logo and navigation */
}

header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 0 1rem;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #6200ea;
}
.nav-buttons{
  margin-left: -120px;
  display: flex;
  flex-direction: row;
}

.auth-buttons {
  display: flex;
  margin-right: -105px;
}

.login-button {
  height: 40px;
  margin-right: 20px;
  background-color: white;
  border: none;
  color: black;
  padding: 0px 25px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s; /* Added transition for background-color and color */
}

.login-button:hover {
  background-color: rgba(242, 242, 242, 0.805);
}

.signup-button {
  height: 40px;
  background-color: #6200ea;;
  border: none;
  color: #fff;
  padding: 0px 25px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s /* Added transition for background-color and color */
}

.signup-button:hover {
  background-color: #3700b3;
}